body {
	font-family: 'Roboto', sans-serif;
  color: white;
}
.container {
  width: 1170px;

  }
#primary {
  width: 66,66%;
  background-color: black;
}
#secondary {
  width: 33.33%;
  background-color: blue;
}
.conteudo {
	box-sizing: border-box;
  align-items: center;
  width: 66,66666666%;
  padding: 10px;
  border: 10px;
  background-color: black;

  margin: 10px;
}
.filho {
  align-items: center;
  background-color: red;
  width: 33,33333333%
}
